<h1>List of all Reports</h1>

<table>
  <thead>
    <tr style="border-bottom:1px solid black">
      <th>id</th>
      <th>name</th>
      <th>webUrl</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @array.each do |array| %>
      <tr>
        <td><%= array['id'] %></td>
        <td><%= array['name'] %></td>
        <td><%= array['webUrl'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>