<h1> Create new Group  </h1>
<div>
<%= form_with local:true,:url => groups_createNewGroup_path do |form| %>
    <div class="field">
        <%= form.label :Groupname  %>
        <%= form.text_field :Groupname%>
         <%= form.submit "Create"%>
    </div>
<% end %>
</div>
