<h1>Groups and users</h1>

<table border="1">
  <thead>
    <tr>
      <th>Group_id</th>
      <th>Group_name</th>
      <th>User_id</th>
      <th>User_name</th>

    </tr>
  </thead>

  <tbody>
        
    
  </tbody>
