<h1> GROUPS </h1>

  <%= link_to "create new group",groups_createNewGroup_path %>
  <br>
  <%= link_to "get all groups ",groups_getAllGroups_path %>
  <br>

  <%= link_to "get groups users",groups_getGroupUsers_path %>
